
#floating-menu {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  .button {
    height: 50px;
    width: 50px;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $background;
    position: relative;
    border-right: none;
    svg {
      z-index: 1;
    }
    &:hover {
      cursor: pointer;
      .overlay {
        background-color: $dp02;
      }
    }
    &:active {
      .overlay {
        background-color: $active;
      }
    }
    &:last-child {
      border-right: 2px solid $background;
    }
  }
  .floating-search {
    position: relative;
    background-color: $background;
    input {
      z-index: 1;
      position: relative;
      background-color: transparent;
    }
    &:focus-within {
      .overlay {
        background-color: $dp02;
      }
    }
  }
  input {
    height: 50px;
    width: 150px;
    outline-color: $active;
    font-size: 16px;
    border: 2px solid $background;
    border-right: 0px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
}