li#list-sort {
  display: flex;
    div.legend-item {
      user-select: none;
      width: calc(100% - 20px);
      padding: 10px;
      margin: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      .legend-icon {
        opacity: 0;
        &.active {
          opacity: 1
        }
      }
      &:hover {
        cursor: pointer;
        background-color: #222;
        .legend-icon {
          opacity: 1;
        }
      }
      &.no-hover {
        &:hover {
          cursor: default;
          background-color: transparent;
        }
      }
    }
}