@import '../../scss/variables';

#settings {
  .header-container {
    display: flex;
    align-items: center;
    .back-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px;
      font-size: 24px;
      width: 40px;
      height: 40px;
      &:hover {
        background-color: $dp02;
        cursor: pointer; 
      }
      &:active {
        background-color: $active;
      }
    }
  }
  .settings-list-title {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid $dp02;
    border-top: 2px solid $dp02;
  }
  ul.settings-list {
    li {
      .setting-title {
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
      }
      .setting-description {
        padding: 10px;
        padding-top: 0px;
        width: 100%;
        color: $font-secondary;
        &.danger {
          color: $danger;
        }
      }
      .setting-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h4, h3 {
          padding: 10px;
        }
        &:hover, &:focus-within {
          background-color: $dp02;
          input {
            background-color: $dp04;
          }
        }
      }
      .setting-info {
        h3, h4 {
          font-weight: 500;
        }
        .info {
          color: $font-secondary;
        }
      }
      .setting-button {
        padding: 14px;
        text-align: center;
        color: $primary;
        h4 {
          display: inline;
        }
        &.danger {
          color: $danger;
        }
        &:hover {
          background-color: $dp04;
          cursor: pointer;
        }
      }
      input {
        text-align: right;
        height: 26px;
        border: none;
        background-color: transparent;
        padding: 10px;
        color: $font-primary;
        outline-color: $active;
        font-size: 16px;
        &:hover {
          background-color: $dp04;
        }
      }
      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
  }
}