$toolbarHeight: 49px;

$background: #121212;

$dp01: rgba(255, 255, 255, 0.05);
$dp02: rgba(255, 255, 255, 0.07);
$dp03: rgba(255, 255, 255, 0.08);
$dp04: rgba(255, 255, 255, 0.09);
$dp06: rgba(255, 255, 255, 0.11);
$dp08: rgba(255, 255, 255, 0.12);
$dp12: rgba(255, 255, 255, 0.14);
$dp16: rgba(255, 255, 255, 0.15);
$dp24: rgba(255, 255, 255, 0.16);

$active: #000000;

$font-primary: #fff;
$font-secondary: rgba(255, 255, 255, 0.6);
$font-faded: rgba(255, 255, 255, 0.38);

$danger: rgba(255, 0, 0, 0.87);
$primary: rgba(0, 140, 255, 0.87);