@import '../../../../styles/variables';

#sidebar {
    width: 140px;
    height: 100%;
    overflow: auto;
    #file-list {
        li {
            padding: 10px;
            user-select: none;
            &:hover {
                background-color: $dp01;
                cursor: pointer;
            }
            &:active {
                background-color: $active;
            }
            &.selected {
                background-color: $dp02;
                cursor: default;
            }
        }
    }
}