// Main
@import './variables';
@import './forms';

// Views
@import './views/_credentials-list';
@import './views/_settings';
@import './views/_load-file';

// Components
@import './components/_toolbar';
@import './components/_input-list';
@import './components/_list-sort';
@import './components/_list-item';
@import './components/_floating-menu';
@import './components/_settings-checkbox';
@import './components/_settings-text';
@import './components/_settings-expand';

* {
  margin: 0;
  padding: 0;
}
body {
  overflow:hidden;
  background-color: $background;
  color: $font-primary;
  font-family: 'Roboto';
  main {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 49px);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.dp01 {
    background-color: $dp01;
  }
  &.dp02 {
    background-color: $dp02;
  }
  &.dp03 {
    background-color: $dp03;
  }
  &.dp04 {
    background-color: $dp04;
  }
  &.dp06 {
    background-color: $dp06;
  }
  &.dp08 {
    background-color: $dp08;
  }
  &.dp12 {
    background-color: $dp12;
  }
  &.dp16 {
    background-color: $dp16;
  }
  &.dp24 {
    background-color: $dp24;
  }
}

p, h1, h2, h3, h4, h5, label {
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}