@import '../../../../scss/variables';

.settings-checkbox {
  &:hover {
    .checkmark-container {
      background-color: $dp04;
    }
  }
  .checkmark-container {
    padding: 0px;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    outline-color: $active;
    background-color: $background;
    .checkmark {
      opacity: 0;
      margin-right: 0px;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        & ~ .checkmark {
          opacity: 1;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .checkmark {
        opacity: 0.38;
      }
      input {
        &:checked {
          & ~ .checkmark {
            opacity: 1;
          }
        }
      }
    }
    &:active {
      background-color: $active;
    }
    &:focus-within {
      background-color: $dp04;
    }
  }
}